.orbit {
	._orbit() !important;
}

.stratosphere {
	._stratosphere() !important;
}

.everest {
	._everest() !important;
}

.elbrus {
	._elbrus() !important;
}

.content_v_center_h_center {
	._content_v_center_h_center() !important;
}

.content_v_center_h_left {
	._content_v_center_h_left() !important;
}
.content_row {
	._content_row() !important;
}
.content_row_top {
	._content_row('top') !important;
}

//.height-trick_30p {
//	#make_height-trick(30%);
//}

.inline-block {
	._inline-block() !important;
}
.inline-float_left {
	._inline-float() !important;
}
.inline-float_right {
	._inline-float(right) !important;
}
.w_100p {
	width: 100% !important;
}
.h_100p {
	height: 100% !important;
}
.none,
.no-display {
	._none() !important;
}
.group_x {
	._group_x() !important;
}
.group_x2 {
	._group_x(2) !important;
}

.relative {
	._relative() !important;
}

// margin primitives
.margin_x0p5 {
	._margin_x(0.5) !important;
}
.margin_x {
	._margin_x() !important;
}
.margin_x2 {
	._margin_x(2) !important;
}

.margin-t_x0p5 {
	._margin-t_x(0.5) !important;
}
.margin-t_x {
	._margin-t_x() !important;
}
.margin-t_x2 {
	._margin-t_x(2) !important;
}

.margin-b_x0p5 {
	._margin-b_x(0.5) !important;
}
.margin-b_x {
	._margin-b_x() !important;
}
.margin-b_x2 {
	._margin-b_x(2) !important;
}

.margin-l_x0p5 {
	._margin-l_x(0.5) !important;
}
.margin-l_x {
	._margin-l_x() !important;
}
.margin-l_x2 {
	._margin-l_x(2) !important;
}

.margin-r_x0p5 {
	._margin-r_x(0.5) !important;
}
.margin-r_x {
	._margin-r_x() !important;
}
.margin-r_x2 {
	._margin-r_x(2) !important;
}

.no-margin {
	._no-margin() !important;
}
.no-margin-t {
	margin-top: 0 !important;
}
.no-margin-b {
	margin-bottom: 0 !important;
}
.no-margin-l {
	margin-left: 0 !important;
}
.no-margin-r {
	margin-right: 0 !important;
}

// padding primitives
.padding_x0p5 {
	._padding_x(0.5) !important;
}
.padding_x {
	._padding_x() !important;
}
.padding_x2 {
	._padding_x(2) !important;
}

.padding-t_x0p5 {
	._padding-t_x(0.5) !important;
}
.padding-t_x {
	._padding-t_x() !important;
}
.padding-t_x2 {
	._padding-t_x(2) !important;
}

.padding-b_x0p5 {
	._padding-b_x(0.5) !important;
}
.padding-b_x {
	._padding-b_x() !important;
}
.padding-b_x2 {
	._padding-b_x(2) !important;
}

.padding-l_x0p5 {
	._padding-l_x(0.5) !important;
}
.padding-l_x {
	._padding-l_x() !important;
}
.padding-l_x2 {
	._padding-l_x(2) !important;
}

.padding-r_x0p5 {
	._padding-r_x(0.5) !important;
}
.padding-r_x {
	._padding-r_x() !important;
}
.padding-r_x2 {
	._padding-r_x(2) !important;
}

.tall {
	._tall() !important;
}
