._rb-border-rad(@amount: 1px) {
	border-radius: @amount;
}
._rb-b-radius(@amount: 1px) {
	border-radius: @amount;
}
._rb-border(@color: @rb-color_silver, @width: 1px) {
	border: @width solid @color;
}
._rb-border-t(@color: @rb-color_silver, @width: 1px) {
	border-top: @width solid @color;
}
._rb-border-b(@color: @rb-color_silver, @width: 1px) {
	border-bottom: @width solid @color;
}
._rb-border-l(@color: @rb-color_silver, @width: 1px) {
	border-left: @width solid @color;
}
._rb-border-r(@color: @rb-color_silver, @width: 1px) {
	border-right: @width solid @color;
}
._rb-no-border()
{
	._rb-border(transparent, 0);
}

._rb-b-color(@color: @rb-color_white, @h-color: false, @transition-time: 0) {
	background-color: @color;

	& when not(@h-color = false) {
		&:hover {
			background-color: @h-color;
		}
	}

	& when not(@transition-time = 0) {
		._rb-transition(background-color, @transition-time);
	}
}

._rb-bg_cover() {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

._rb-no-bg() {
	._rb-b-color(transparent);
}

._rb-no-b-shadow() {
	box-shadow: none;
}

._rb-no-select() {
	user-select: none;
}

._rb-no-outline() {
	outline: none;
}

._rb-no-appearance() {
	-webkit-appearance: none;
}

._rb-hand() {
	cursor: pointer;
}
._rb-pointer() {
	._rb-hand();
}
._rb-grab() {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

._rb-round() {
	._rb-border-rad(1000rem);
}

._rb-ellipse() {
	._rb-border-rad(100%);
}

._rb-box-sizing(@model) {
	-webkit-box-sizing: @model;
	-moz-box-sizing: @model;
	box-sizing: @model;
}

._rb-b-shadow(@opacity: 0.2) {
	-webkit-box-shadow: 4px 6px 12px -3px rgba(0, 0, 0, @opacity);
	-moz-box-shadow: 4px 6px 12px -3px rgba(0, 0, 0, @opacity);
	box-shadow: 4px 6px 12px -3px rgba(0, 0, 0, @opacity);
}
