// @import (css) url("//fonts.googleapis.com/icon?family=Material+Icons");
@import "font.import.less";

#_rb-material-icons() {
	._rb-font_material-icons();
	line-height: 100%;
}

._rb-icon-code(@code: 'help') {
	&:before {
		content: @code;
	}
}

._rb-icon(@code, @size: inherit, @smp: 0) {
	height: @size;
	width: @size;
	box-sizing: content-box;

	._rb-padding_x(@smp);
	._rb-icon-code(@code);

	#_rb-material-icons();
	font-size: @size;
}

// icon label made with flex
._rb-icon-label-flex(@code: 'help', @size: inherit, @lmp: 0.5) {
	._rb-flex();
	._rb-flex-align-items_baseline();
	._rb-icon-code(@code);

	&:before {
		._rb-padding-r_x(@lmp);
		#_rb-material-icons();
		font-size: @size;
	}
}

// icon label made with absolute
._rb-icon-label(@code: 'help', @size: inherit, @v-offs: 0, @lmp: 1.5) {
	._rb-relative();
	._rb-padding-l_x(@lmp);
	._rb-icon-code(@code);

	&:before {
		._rb-absolute(@v-offs, auto, auto, 0);
		#_rb-material-icons();
		font-size: @size;
	}
}
