// todo: self-host this
@import (css) url("//fonts.googleapis.com/icon?family=Material+Icons");

._icon(@code, @size: 16px, @padding: false) {
	font-family: 'Material Icons', sans-serif;
	font-size: @size;
	font-style: normal;
	line-height: 100%;
	height: @size;
	width: @size;
	box-sizing: content-box;

	& when not(@padding = false) {
		padding: @padding;
	}

	&:before {
		content: @code;
	}
}

._icon_build(@size: 16px) {
	._icon('build', @size);
}
.icon_build {
	._icon_build() !important;
}

._icon_storage(@size: 16px) {
	._icon('storage', @size);
}

._icon_arrow-back(@size: 16px) {
	._icon('arrow_back', @size);
}

._icon_keyboard-arrow-left(@size: 16px) {
	._icon('keyboard_arrow_left', @size);
}

._icon_keyboard-arrow-right(@size: 16px) {
	._icon('keyboard_arrow_right', @size);
}

._icon_clear(@size: 16px, @padding: false) {
	._icon('clear', @size, @padding);
}

._icon_help(@size: 16px) {
	._icon('help', @size);
}

._icon_insert-invitation(@size: 16px) {
	._icon('insert_invitation', @size);
}

._icon_date-range(@size: 16px) {
	._icon('date_range', @size);
}

._icon_add(@size: 16px, @padding: false) {
	._icon('add', @size, @padding);
}

._icon_remove(@size: 16px, @padding: false) {
	._icon('remove', @size, @padding);
}

._icon_code(@size: 16px, @padding: false) {
	._icon('code', @size, @padding);
}

._icon_mode-edit(@size: 16px, @padding: false) {
	._icon('mode_edit', @size, @padding);
}

._icon_arrow-upward(@size: 16px, @padding: false) {
	._icon('arrow_upward', @size, @padding);
}

._icon_forward(@size: 16px, @padding: false) {
	._icon('forward', @size, @padding);
}
