._icon-label(@code: 'help') {
	._relative();
	._padding-l_x(1.5);

	line-height: 150%;

	&:before {
		._absolute(4px, auto, auto, 0);
		content: @code;

		line-height: 100%;
		font-family: 'Material Icons', sans-serif;
		font-size: 16px;
		font-style: normal;
	}
}

#_icon-label_before(@code) {
	&:before {
		content: @code;
	}
}

._icon-label_storage() {
	#_icon-label_before('storage');
}
