// flex
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/

._flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
._flex-grow(@amount: 1) {
	flex-grow: @amount;
	-webkit-flex-grow: @amount;
}
._flex-direction_column() {
	flex-direction: column;
	-ms-flex-direction: column;
}
._flex-direction_row() {
	flex-direction: row;
	-ms-flex-direction: row;
}
._flex-justify-content_space-between() {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
._flex-justify-content_start() {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
._flex-justify-content_end() {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
._flex-justify-content_center() {
	-webkit-justify-content: center;
	justify-content: center;
}
._flex-align-items_start() {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
._flex-align-items_end() {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
._flex-align-items_center() {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
._flex-align-items_baseline() {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
._flex-wrap_wrap() {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

// flex macros
._content_v_center_h_right() {
	._flex();
	._flex-justify-content_end();
	._flex-align-items_center();
}

._content_v_center_h_left(@stacking: false) {
	._flex();
	._flex-justify-content_start();
	._flex-align-items_center();

	& when (@stacking = true) {
		._flex-wrap_wrap();
	}
}

._content_v_bottom_h_left(@stacking: false) {
	._flex();
	._flex-justify-content_start();
	._flex-align-items_end();

	& when (@stacking = true) {
		._flex-wrap_wrap();
	}
}

._content_v_top_h_left(@stacking: false) {
	._flex();
	._flex-justify-content_start();
	._flex-align-items_start();

	& when (@stacking = true) {
		._flex-wrap_wrap();
	}
}

._content_v_center_h_center() {
	._flex();
	._flex-justify-content_center();
	._flex-align-items_center();
}

._content_h_center_column() {
	._flex();
	._flex-direction_column();
	._flex-align-items_center();
}

._content_row() {
	._flex();
	._flex-align-items_center();
}

// display
._block() {
	display: block;
}
._inline() {
	display: inline;
}
._inline-block() {
	display: inline-block;
}
._none() {
	display: none;
}
// todo: rename to _inline-block_float
._inline-float(@way: left) {
	._inline-block();
	float: @way;
}

// position
._fixed(@top: auto, @right: auto, @bottom: auto, @left: auto) {
	position: fixed;
	top: @top;
	bottom: @bottom;
	left: @left;
	right: @right;
}
._relative() {
	position: relative;
}
._absolute(@top: auto, @right: auto, @bottom: auto, @left: auto) {
	position: absolute;
	top: @top;
	bottom: @bottom;
	left: @left;
	right: @right;
}
._absolute-stick-top() {
	position: absolute;
	top: auto;
	bottom: 100%;
}
._absolute-stick-bottom() {
	position: absolute;
	top: 100%;
	bottom: auto;
}
._absolute-place-left() {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
._absolute-place-top() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
._absolute-cover() {
	position: absolute;
	._cover();
}
._absolute-center(@h, @w, @pH, @pW: @pH) {
	top: calc(~"@{pH} / 2 - (@{h} / 2)");
	left: calc(~"@{pW} / 2 - (@{w} / 2)");
}

// size
._cover(@t: 0, @b: 0, @l: 0, @r: 0) {
	bottom: @b;
	left: @l;
	right: @r;
	top: @t;
}
._size(@w: auto, @h: @w) {
	width: @w;
	height: @h;
}
._size_x(@mp-w: auto, @mp-h: @mp-w) {

	& when not(@mp-w = auto) {
		width: @mp-w * @offset;
	}

	& when (@mp-h = auto) {
		height: auto;
	}
	& when not(@mp-h = auto) {
		height: @mp-h * @offset;
	}
}
._width_btw(@start: 100px, @end: none) {
	min-width: @start;

	& when not(@end = none) {
		max-width: @end;
	}
}
._width_btw_x(@start: 1, @end: none) {
	min-width: @start * @offset;

	& when not(@end = none) {
		max-width: @end * @offset;
	}
}
._height_btw_x(@start: 1, @end: none) {
	min-height: @start * @offset;

	& when not(@end = none) {
		max-height: @end * @offset;
	}
}
._tall() {
	height: 100%;
}
._short() {
	height: 0;
}
._wide() {
	width: 100%;
}
._narrow() {
	width: 0;
}

// padding
._padding_x(@mp-t: 1, @mp-r: @mp-t, @mp-b: @mp-t, @mp-l: @mp-t) {
	padding-top: @mp-t * @offset;
	padding-right: @mp-r * @offset;
	padding-bottom: @mp-b * @offset;
	padding-left: @mp-l * @offset;
}
._padding-r_x(@mp: 1) {
	padding-right: @mp * @offset;
}
._padding-l_x(@mp: 1) {
	padding-left: @mp * @offset;
}
._padding-b_x(@mp: 1) {
	padding-bottom: @mp * @offset;
}
._padding-t_x(@mp: 1) {
	padding-top: @mp * @offset;
}
._padding-lr_x(@mp: 1) {
	padding-left: @mp * @offset;
	padding-right: @mp * @offset;
}
._padding-tb_x(@mp: 1) {
	padding-top: @mp * @offset;
	padding-bottom: @mp * @offset;
}
._padding-tb-lr_x(@mp: 1, @mp-lr: @mp) {
	._padding-tb_x(@mp);
	._padding-lr_x(@mp-lr);
}
._no-padding() {
	padding: 0;
}
._no-padding-b() {
	padding-bottom: 0;
}
._no-padding-lr() {
	padding-left: 0;
	padding-right: 0;
}

// margin
._margin_x(@mp: 1) {
	margin: @mp * @offset;
}
._margin-r_x(@mp: 1) {
	margin-right: @mp * @offset;
}
._margin-l_x(@mp: 1) {
	margin-left: @mp * @offset;
}
._margin-b_x(@mp: 1) {
	margin-bottom: @mp * @offset;
}
._margin-t_x(@mp: 1) {
	margin-top: @mp * @offset;
}
._margin-lr_x(@mp: 1) {
	margin-left: @mp * @offset;
	margin-right: @mp * @offset;
}
._margin-tb_x(@mp: 1) {
	margin-top: @mp * @offset;
	margin-bottom: @mp * @offset;
}
._no-margin() {
	margin: 0;
}
._no-margin-r() {
	margin-right: 0;
}

// z-index
@z_step: 100;
@z_orbit: 99999999;
@z_stratosphere: @z_orbit - @z_step;
@z_everest: @z_stratosphere - @z_step;
@z_elbrus: @z_everest - @z_step;

._orbit(){
	z-index: @z_orbit;
}

._stratosphere(){
	z-index: @z_stratosphere;
}

._everest(){
	z-index: @z_everest;
}

._elbrus(){
	z-index: @z_elbrus;
}

// overflow & scroll
._scroll-vv() {
	overflow-x: hidden;
	overflow-y: auto;
}

._scroll-v(@height: 70vh) {
	max-height: calc(@height);
	overflow: auto;
}

._scroll-v_x(@mp: 1) {
	max-height: calc(@offset * @mp);
	overflow: auto;
}

._no-overflow(@t-overflow: false) {
	overflow: hidden;
	& when (@t-overflow = ellipsis) {
		text-overflow: ellipsis;
	}
}

// groups
#make_group(@mp-h: 1, @mp-v: @mp-h, @rev-h: false, @ref-v: false) {
	& > * {
		._margin-b_x(@mp-v);
		._margin-r_x(@mp-h);
	}

	._margin-b_x(@mp-v * -1);
	._margin-r_x(@mp-h * -1);

	//& when (@horizontal = false) {
	//}
}

._group_x(@mp: 1, @mp-v: @mp){
	#make_group(@mp, @mp-v);
}

._group_inline_x(@mp: 1) {
	& > * {
		&:not(:last-child) {
			._margin-r_x(@mp);
		}
	}
}

// create the container which height always will be equal to its width
#make_height-trick(@width) {
	position: relative;
	width: @width;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	.height-trick__inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// etc
._border-box() {
	box-sizing: border-box;
}

._clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}
._centered-column(@w: 1200px) {
	margin-left: auto;
	margin-right: auto;
	max-width: @w;
	width: 100%;
}

// deprecated
.padding-t {
	.padding-t_x;
}
.margin-t {
	._margin-t_x() !important;
}