._rb-f-weight_600() {
	font-weight: 600;
}

._rb-f-weight(@amount: 400) {
	font-weight: @amount;
}

._rb-family_muli() {
	font-family: 'Muli', sans-serif;
}

._rb-hcolor_darken(@color: @rb-color_black, @percent: 10%) {
	color: @color;
	&:focus {
		color: @color;
	}
	&:hover {
		color: darken(@color, @percent);
	}
}

._rb-no-decoration() {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

._rb-ws_no-wrap() {
	white-space: nowrap;
}
._rb-no-wrap() {
	._rb-ws_no-wrap();
}

._rb-ws_normal() {
	white-space: normal;
}

._rb-ws_pre() {
	white-space: pre-wrap;
}
._rb-pre()  {
	._rb-ws_pre();
}

._rb-f-size_x(@mp: 1) {
	font-size: @rb-offset * @mp;
	line-height: 150%;
}

._rb-f-color(@color: @rb-color_black, @h-color: false, @transition-time: 0) {
	color: @color;

	& when not(@h-color = false) {
		&:hover {
			color: @h-color;
		}
	}

	& when not(@transition-time = 0) {
		._rb-transition(color, @transition-time);
	}
}

._rb-t-center() {
	text-align: center;
}

._rb-no-user-select() {
	user-select: none;
}

._rb-underline() {
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
	}
}

._rb-underline_over() {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

._rb-underline_out() {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
