._f-weight_600() {
	font-weight: 600;
}

._f-weight(@amount: 400) {
	font-weight: @amount;
}

._family_muli() {
	font-family: 'Muli', sans-serif;
}

._hcolor_darken(@color: @color_almost-black, @percent: 10%) {
	color: @color;
	&:focus {
		color: @color;
	}
	&:hover {
		color: darken(@color, @percent);
	}
}

.lh_14px {
	line-height: 14px !important;
}

._no-decoration() {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

._ws_no-wrap() {
	white-space: nowrap;
}
._no-wrap() {
	._ws_no-wrap();
}

._ws_normal() {
	white-space: normal;
}

._ws_pre() {
	white-space: pre-wrap;
}
._pre()  {
	._ws_pre();
}

._f-size_x(@mp: 1) {
	font-size: @offset * @mp;
	line-height: 150%;
}

._f-color(@color: @color_almost-black, @h-color: false) {
	color: @color;

	& when not(@h-color = false) {
		&:hover {
			color: @h-color;
		}
	}
}

._t-center() {
	text-align: center;
}

.f-size_x0p8 {
	._f-size_x(0.8) !important;
}

.f-size_x0p9 {
	._f-size_x(0.9) !important;
}

.f-size_x1p25 {
	._f-size_x(1.25) !important;
}

.f-size_x2p25 {
	._f-size_x(2.25) !important;
}
