._rb-transform(@string) {
	-webkit-transform: @string;
	-moz-transform: @string;
	-ms-transform: @string;
	-o-transform: @string;
	transform: @string;
}

._rb-rotate(@deg) {
	._rb-transform(rotate(@deg));
}

// todo: all the rest :)